*{
    margin:0;
    padding:0;
}
body{
    background: #ffcccd;
}
header{
    text-align: center;
    padding: 2%;
}



footer{
    width: 90%;
    position: absolute;
    bottom: 1%;
    text-align: right;
}